@import "../font-awesome-4.2.0/less/font-awesome";

@border-color: #222222;
@light-border-color: lighten(@border-color, 50%);

.border-with-shadow(@color){
  border: 2px solid @color;
  box-shadow: 5px 5px 5px lighten(@color, 50%);
}


#user_search{
  .border-with-shadow(@border-color);
  padding: 10px;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  border-radius: 10px;
  margin: 0 40px;

  &.small{
    .border-with-shadow(@light-border-color);
    height: 250px;
  }

  #github_icon{
    .fa-icon();
    font-size: 60px;
    &:before{
      content: @fa-var-github;
    }
  }

  paper-input{
    margin: 0 40px
  }
}



